# Python cache and build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Test and coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.log

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# pipenv
Pipfile.lock

# dotenv
.env
.env.*